@import "materialize";

body {
  background-color: black;
  background-image: url("http://www.jasonfarman.com/dtc477/images/old_lined_paper.jpg");
}

a {
  color: white;
}

a:visited {
    color: white;
}

.hp-div{
  display: inline-block;
}
.nav-wrapper {
  background-color: #000000;
  padding-left: 10px;
}

.btn {
  background-color: black;
}
