<!DOCTYPE html>
<html>
  <head>
    <title>BucketList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
  </head>

  <body>
    <div class="container">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Home</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/bucketlists">All Buckets</a></li>
          </ul>
        </div>
      </nav>

    <%= yield %>

    </div>
  </body>
</html>
